header {
	background-color: #EDEDED;
	width: auto;
	height: auto;
	margin: 0;
	overflow: hidden
}


#headertext {
	float: left;
	position: absolute;
	padding-top: 39px;
	text-align: left;

}

li {
	display: inline-block;
	list-style-type: none;
	padding: 1em;
	color: white;
	font-weight: bold;
}
li a {
	display: block;
	color: white;
	text-decoration: none;

}
h2 {
	width: 600px;
}

nav {
	
	margin-top: 0;
	margin-left: 0;
	background-color: #653D3D
}
h1 {
	font-size: 4em;
	text-align: center;
}
#posts {
	padding: 1em;
	background-color: #988484;
	color: white;
	height: 1em;
}

article img {
	height: 100%; 
	width: 100%
}

article {
margin-top:1em;
float:left;
overflow: auto;
width:46%;
height: 20%;
}

article p {
	text-align: left;
}

.left {
	margin-left: 0%;
	margin-right:8%; 
}

.right {
	margin-right: 0%; 
}


p {
	text-align: center
}

footer {
	text-align: center}


#footimg {

  	display: block;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}



