header {
	background-color: #EDEDED;
	width: 100%;
	height: 150px;
	overflow: hidden;
}

body {
	font-family: "Chivo", sans-serif;
}


#logo {
	float: left;
	width: 40%;
	height: 150px;
	display: inline-block;
}

#image {
	width: 100%;
	height: 100%;
}

#headertext {
	font-size: 18px;
	float: left;
	margin-top: 0;
	width: 59%;
	height: 85px;
	position: relative;
	padding-top: 65px;
	font-weight: bold;
}
/*till here is everything for the header and font for the body*/


li {
	display: inline-block;
	list-style-type: none;
	padding: 0.9em;
	color: white;
	font-weight: bold;
}

li a {
	display: block;
	color: white;
	text-decoration: none;

}

ul {
	overflow: auto;
	height: 3em;
	padding-left: 0;
	margin-top: 0;
	margin-left: 0;
	margin-bottom:0; 
	background-color: #653D3D
}

/*till here is for the nav bar */


h1 {
	font-size: 4em;
	text-align: center;
}
/*big Heading in the middle*/

#posts {
	padding: 1em;
	background-color: #988484;
	color: white;
	height: 1em;
	font-weight: bold;
}

/* Latest Blog Post up here */

article img {
	height: 100%; 
	width: 100%
}

article {
font-weight: bold;
margin-top:1em;
float:left;
overflow: auto;
width:46%;
height: 20%;
}

article a {
text-decoration: none;
color: black;
}

article p {
	text-align: left;
}

.left {
	margin-left: 0%;
	margin-right:8%; 
}

.right {
	margin-right: 0%; 
}

/*till here is for the blog posts*/


/* and the rest down here is for the footer*/
p {
	text-align: center
}

footer {
	position: relative;
	clear: both;
	text-align: center}

#line {
	background-color: #988484;
	height: 0.5em;
	width: 100%;
	overflow: auto;
	margin-left: 0;
	margin-right: 0;
	}

#footimg {
  	display: block;
  	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}



